BOT_TOKEN=8942645221:AAE2zv9_UN2umivKyHI18PWNTzbR9MwnenM
CHANNEL_ID=@diyorbekFPL
ADMIN_IDS=
DATABASE_URL=sqlite+aiosqlite:///./data/fpl_bot.db
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
TIMEZONE=Asia/Tashkent
AUTO_POSTS_ENABLED=true
DEADLINE_HOURS=3
FPL_REFRESH_MINUTES=15
LIVE_POLL_MINUTES=5
NEWS_FEEDS=https://www.premierleague.com/en/news/rss
DAILY_NEWS_TIME=09:00
DAILY_PLAYER_WATCH_TIME=18:00
